* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.red {
    background: red;
}

.btn {
    width: 90px;
    height: 90px;
    background: darkblue;
    display: none; 
    margin-top: 10px; 
    padding: 20px; 
    background-color: lightblue;
}

